.top {
    
	height: 70px;
	    
	background: antiquewhite;
	    
	margin-top: -20px;
	    
	position: fixed;
	    
	width: 100%;
	z-index: 2;
	display: flex;
}

.left {
    width: 280px;
    background: aqua;
    height: 520px;
    float: left;
    position: fixed;
    margin-top: 51px;
}

.center {
    position: relative;
    margin-left: 281px;
    top: 51px;
}
a {
    margin-left: 100px;
    margin-top: 32px;
}